/*FUENTE*/
/*COLORES*/
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

body {
  background-image: linear-gradient(to right, #2b1c41, #211934, #191526, #120f19, #070707);
}

header {
  width: 375px;
  height: 330px;
  display: flex;
}
header .container {
  display: flex;
  flex-direction: column;
  gap: 45px;
  justify-content: center;
  padding-left: 50px;
}
header .texto-header {
  color: white;
  font-size: 23px;
  font-family: "Anybody", cursive;
  font-weight: 700;
}
header a {
  background-color: #FF006E;
  color: white;
  font-size: 19px;
  font-family: "Anybody", cursive;
  font-weight: 400;
  padding: 23px;
  border-radius: 0px 20px 20px 20px;
  transition: 0.5s;
  box-shadow: #070707 -5px -3px 30px;
}
header a:hover {
  background-color: #b40450;
}

@media (max-width: 425px) {
  header {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .cont-girdd {
    display: flex;
    gap: 20px;
  }
  .cont-girdd header {
    padding-top: 20px;
  }
}
@media (min-width: 1400px) {
  .cont-girdd {
    height: 800px;
  }
  .cont-girdd header {
    width: 700px;
    padding-top: 0px;
    padding-left: 40px;
  }
  .cont-girdd header .container {
    gap: 60px;
    padding-top: 400px;
  }
  .cont-girdd header .container .texto-header {
    font-size: 30px;
  }
  .cont-girdd header .container a {
    font-size: 30px;
  }
}
main {
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  width: 375px;
  display: flex;
  align-items: center;
}
main .container-fotos {
  height: 438px;
  display: flex;
  flex-direction: column;
  width: 375px;
}
main .container-fotos ul {
  animation: cambio 20s infinite alternate linear;
}
main .container-fotos li {
  height: 300px;
  scroll-snap-align: center;
}
main .container-fotos li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
main .container-fotos ul li a img:hover {
  background: linear-gradient(rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0));
}

main::-webkit-scrollbar {
  visibility: hidden;
}

@media (min-width: 425px) {
  main {
    width: 100%;
  }
  main .container-fotos {
    width: 100%;
  }
}
@media (min-width: 800px) {
  main .container-fotos ul li {
    height: 500px;
  }
}
@media (min-width: 1400px) {
  main .container-fotos {
    height: 700px;
    width: 100%;
  }
  main .container-fotos ul li {
    height: 795px;
  }
}
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 10px;
  height: 768px;
}
section .infoc {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section h2 {
  font-family: "Anybody", cursive;
  color: white;
  font-size: 33px;
  margin-bottom: 15px;
  margin-top: 100px;
}
section .img-info {
  width: 300px;
  height: 235px;
  margin-bottom: 15px;
  box-shadow: #070707 -5px -3px 30px;
}
section .img-info img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}
section .texto-info {
  background-color: #FF006E;
  padding: 15px;
  border-radius: 25px 25px 25px 25px;
  width: 300px;
  box-shadow: #070707 -5px -3px 30px;
}
section .texto-info p {
  color: white;
  font-family: "Anybody", cursive;
  font-weight: 300;
  font-size: 14px;
}
section .contacto {
  display: flex;
  flex-direction: column;
  width: 300px;
  align-items: center;
}
section .contacto h2 {
  color: white;
  font-size: 27px;
  font-family: "Anybody", cursive;
  margin-top: 20px;
}
section .enlace1 {
  margin-top: 25px;
}
section .enlace1 a {
  color: white;
  font-size: 25px;
  font-weight: 400;
  font-family: "Anybody", cursive;
  font-weight: 300;
  background-color: #FF006E;
  padding: 15px 25px 15px 25px;
  border-radius: 15px 0px 15px 15px;
  box-shadow: #070707 5px 3px 30px;
  transition: 0.5s;
}
section .enlace1 a:hover {
  background-color: #b40450;
}
section .enlace2 {
  margin-top: 45px;
}
section .enlace2 a {
  color: white;
  font-size: 25px;
  font-weight: 400;
  font-family: "Anybody", cursive;
  font-weight: 300;
  background-color: #FF006E;
  padding: 15px 25px 15px 25px;
  border-radius: 15px 0px 15px 15px;
  box-shadow: #070707 5px 3px 30px;
  transition: 0.5s;
}
section .enlace2 a:hover {
  background-color: #b40450;
}

@media (min-width: 425px) {
  section {
    width: 100%;
  }
}
@media (min-width: 700px) {
  section {
    flex-direction: row;
  }
  section .infoc {
    display: flex;
    flex-direction: column;
    width: 500px;
    align-items: center;
  }
  section .infoc .img-info {
    padding-left: 0;
    width: 350px;
  }
  section .infoc .texto-info {
    height: 260px;
    margin-right: 0;
    position: relative;
    bottom: 50px;
    z-index: -1;
  }
  section .infoc .texto-info p {
    font-size: 11px;
    padding-top: 30px;
  }
  section .contacto {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 1000px) {
  section {
    display: flex;
    flex-direction: row;
  }
  section .h2info {
    position: relative;
    right: 50px;
  }
  section .infoc .img-info {
    position: relative;
    right: 50px;
    width: 400px;
    height: 300px;
  }
  section .infoc .texto-info {
    width: 370px;
    height: 300px;
  }
  section .infoc .texto-info p {
    font-size: 13.5px;
  }
  section .contacto {
    gap: 40px;
  }
  section .contacto h2 {
    font-size: 40px;
  }
  section .contacto .enlace1 {
    margin-top: 0px;
  }
  section .contacto .enlace1 a {
    font-size: 35px;
    padding: 25px 45px 25px 45px;
    border-radius: 15px 0px 15px 15px;
  }
  section .contacto .enlace2 a {
    font-size: 35px;
    padding: 25px 45px 25px 45px;
    border-radius: 15px 0px 15px 15px;
  }
}
@media (min-width: 1400px) {
  section .infoc {
    width: 600px;
  }
  section .infoc .img-info {
    width: 550px;
    height: 400px;
  }
  section .infoc .texto-info {
    width: 500px;
  }
  section .infoc .texto-info p {
    font-size: 15.5px;
  }
  section .contacto {
    width: 600px;
    gap: 60px;
  }
  section .contacto h2 {
    font-size: 55px;
  }
  section .contacto .enlace1 a {
    font-size: 45px;
    padding: 30px 60px 30px 60px;
    border-radius: 15px 0px 15px 15px;
  }
  section .contacto .enlace2 a {
    font-size: 45px;
    padding: 30px 60px 30px 60px;
    border-radius: 15px 0px 15px 15px;
  }
}
#preguntas {
  display: flex;
  flex-direction: column;
  height: 500px;
}
#preguntas h2 {
  color: white;
  font-family: "Anybody", cursive;
  font-size: 33px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 25px;
}
#preguntas .acordeon {
  width: 300px;
  background-color: #FF006E;
  border-radius: 15px;
}
#preguntas .acordeon label {
  display: block;
  padding: 10px;
  font-size: 17px;
  font-family: "Anybody", cursive;
  font-weight: 400;
  color: white;
  transition: 0.5s;
}
#preguntas .acordeon label:hover {
  background-color: #b40450;
  cursor: pointer;
}
#preguntas .acordeon .contenido-acordeon {
  color: white;
  background-color: #2b1c41;
  font-family: "Anybody", cursive;
  font-size: 12px;
  overflow: hidden;
  max-height: 0px;
  margin: 0px;
  transition: all 300ms ease;
}
#preguntas .acordeon .contenido-acordeon p {
  padding: 10px;
}
#preguntas .acordeon .btn-acordeon:checked ~ .contenido-acordeon {
  max-height: 600px;
  padding: 15px 0px;
}
#preguntas .acordeon .btn-acordeon {
  display: none;
}

@media (min-width: 700px) {
  #preguntas {
    height: 400px;
    margin-bottom: 20px;
  }
  #preguntas .acordeon {
    width: 500px;
  }
  #preguntas h2 {
    margin-bottom: 30px;
    margin-top: 0px;
  }
}
@media (min-width: 800px) {
  #preguntas h2 {
    margin-top: 0px;
  }
}
@media (min-width: 1400px) {
  #preguntas {
    margin-bottom: 50px;
    margin-top: 50px;
  }
  #preguntas .acordeon {
    width: 800px;
  }
  #preguntas .acordeon label {
    font-size: 27px;
    padding: 20px;
  }
  #preguntas .acordeon .contenido-acordeon {
    font-size: 17px;
  }
}
.flecha {
  width: 50px;
  height: 50px;
  text-align: center;
}
.flecha img {
  width: 100%;
  height: 100%;
}

footer {
  width: 375px;
  height: 50px;
  background-color: #FF006E;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer p {
  color: white;
  font-family: "Anybody", cursive;
  font-size: 12px;
}

@media (min-width: 425px) {
  footer {
    width: 100%;
  }
}
@media (min-width: 700px) {
  footer p {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
  }
}
.king-control {
  width: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-pro {
  height: 240px;
}
.header-pro .texto-container {
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  justify-content: center;
  gap: 15px;
}
.header-pro .texto-container h1 {
  font-size: 43px;
  font-family: "Anybody", cursive;
  font-weight: 700;
  color: #fff;
}
.header-pro .texto-container h2 {
  font-size: 23px;
  font-weight: 300;
  font-family: "Anybody", cursive;
  color: #fff;
}

.video {
  display: flex;
  justify-content: center;
}
.video iframe {
  padding: 50px;
}

.flecha-atras {
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  height: 50px;
  margin-top: 10px;
  transition: 0.5s;
  margin-left: 50px;
}
.flecha-atras a {
  transition: 0.5s;
  width: 50px;
  border-radius: 10px;
}
.flecha-atras a img {
  width: 70%;
  height: 70%;
  position: relative;
  left: 7px;
  top: 1px;
}

.flecha-atras:hover {
  background-color: #b40450;
}

/*# sourceMappingURL=style.css.map */
