* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

body {
    background-image: linear-gradient(to right, #2b1c41, #211934, #191526, #120f19, #070707);
}



header {
    width: 375px;
    height: 330px;
    display: flex;

    .container {
        display: flex;
        flex-direction: column;
        gap: 45px;
        justify-content: center;
        padding-left: 50px;
    }

    .texto-header {
        color: #ffff;
        font-size: 23px;
        font-family: $principal;
        font-weight: 700;
    }

    a {
        background-color: $elementos;
        color: #ffff;
        font-size: 19px;
        font-family: $principal;
        font-weight: 400;
        padding: 23px;
        border-radius: 0px 20px 20px 20px;
        transition: 0.5s;
        box-shadow: #070707 -5px -3px 30px;
    }

    a:hover {
        background-color: #b40450;
    }
}

@media (max-width: 425px){
    header {
        width: 100%;
    }
}

@media (min-width: 768px){
    .cont-girdd {
        display: flex;
        gap: 20px;

        header {
            padding-top: 20px;
}
    }
}
@media (min-width: 1400px){
    .cont-girdd {
        height: 800px;

        header {
            width: 700px;
            padding-top: 0px;
            padding-left: 40px;

            .container {
                gap: 60px;
                padding-top: 400px;
                .texto-header {
                    font-size: 30px;
                }

                a {
                    font-size: 30px;
                }
            }
        }
    }
    
}



main {
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    width: 375px;
    display: flex;
    align-items: center;

    .container-fotos {
        height: 438px;
        display: flex;
        flex-direction: column;
        width: 375px;

        ul {
            animation: cambio 20s infinite
            alternate linear;
        }
        

        li {
            height: 300px;
            scroll-snap-align: center;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .container-fotos {
        ul {
            li {
                a {
                 img:hover {
                    background: linear-gradient(#0000 #0000 #0000);
                 }   
                }
            }
        }
    }

    

}

main::-webkit-scrollbar {
    visibility: hidden;
}

@media (min-width: 425px){
    main {
        width: 100%;

        .container-fotos {
            width: 100%;
        }
    }
}

@media (min-width: 800px){
    main {
        .container-fotos {
            ul {
                li {
                    height: 500px;
                }
            }
        }    
    }
}

@media (min-width: 1400px){
    main {
        .container-fotos {
            height: 700px;
            width: 100%;
            ul {
                li {
                    height: 795px;
                }
            }
        }
    }
}



section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 10px;
    height: 768px;

    .infoc {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    h2 {
        font-family: $principal;
        color: #ffff;
        font-size: 33px;
        margin-bottom: 15px;
        margin-top: 100px;
    }

    .img-info {
        width: 300px;
        height: 235px;
        margin-bottom: 15px;
        box-shadow: #070707 -5px -3px 30px;
        

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 20px;
        }
    }

    .texto-info {
        background-color: $elementos;
        padding: 15px;
        border-radius: 25px 25px 25px 25px;
        width: 300px;
        box-shadow: #070707 -5px -3px 30px;

        p {
            color: #ffff;
            font-family: $principal;
            font-weight: 300;
            font-size: 14px;
        }
    }

    .contacto {
        display: flex;
        flex-direction: column;
        width: 300px;
        align-items: center;
        h2 {
            color: #ffff;
            font-size: 27px;
            font-family: $principal;
            margin-top: 20px;
        }
    }
    .enlace1 {
        
        margin-top: 25px; 

        a {
            color: #ffff;
            font-size: 25px;
            font-weight: 400;
            font-family: $principal;
            font-weight: 300;
            background-color: $elementos;
            padding: 15px 25px 15px 25px;
            border-radius: 15px 0px 15px 15px;
            box-shadow: #070707 5px 3px 30px;
            transition: 0.5s;
        }

        a:hover {
            background-color: #b40450;
        }
    }

    .enlace2 {
        margin-top: 45px; 

        a {
            color: #ffff;
            font-size: 25px;
            font-weight: 400;
            font-family: $principal;
            font-weight: 300;
            background-color: $elementos;
            padding: 15px 25px 15px 25px;
            border-radius: 15px 0px 15px 15px;
            box-shadow: #070707 5px 3px 30px;
            transition: 0.5s;
        }

        a:hover {
            background-color: #b40450;
        }
    }
}

@media (min-width: 425px){
    section {
        width: 100%;
        
    }
}


@media (min-width: 700px){
    section {
        flex-direction: row;

        .infoc {
            display: flex;
            flex-direction: column;
            width: 500px;
            align-items: center;

            .img-info {
                padding-left: 0;
                width: 350px;
            }

            .texto-info {
                height: 260px;
                margin-right: 0;
                position: relative;
                bottom: 50px;
                z-index: -1;

                p {
                    font-size: 11px;
                    padding-top: 30px;
                }
            }
        }

        .contacto {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}

@media (min-width: 900px){
    
}

@media (min-width: 1000px){
    section {
        display: flex;
        flex-direction: row;

        .h2info {
            position: relative;
            right: 50px;
        }
        
        .infoc {
            .img-info {
                position: relative;
                right: 50px;
                width: 400px;
                height: 300px;
            }

            .texto-info {
                width: 370px;
                height: 300px;

                p {
                    font-size: 13.5px;
                }
            }
        }

        .contacto {
            gap: 40px;

            h2 {
                font-size: 40px;
            }

            .enlace1 {
               margin-top: 0px;   
                
                a {
                    font-size: 35px;
                    padding: 25px 45px 25px 45px;
                    border-radius: 15px 0px 15px 15px;
                }
            }

            .enlace2 {
                
                a {
                    font-size: 35px;
                    padding: 25px 45px 25px 45px;
                    border-radius: 15px 0px 15px 15px;
                }
            }
        }
        
    }
}

@media (min-width: 1400px){
    section {

        .infoc {
            width: 600px;

            .img-info {
                width: 550px;
                height: 400px;
            }

            .texto-info {
                width: 500px;

                p {
                    font-size: 15.5px;
                }
                }
        }

        

        .contacto {
            width: 600px;
            gap: 60px;

            h2 {
                font-size: 55px;
            }

            .enlace1 {

                a {
                    font-size: 45px;
                    padding: 30px 60px 30px 60px;
                    border-radius: 15px 0px 15px 15px;
                }
            }

            .enlace2 {

                a {
                    font-size: 45px;
                    padding: 30px 60px 30px 60px;
                    border-radius: 15px 0px 15px 15px;
                }
            }
            
        }
    }
}

#preguntas {
    display: flex;
    flex-direction: column;
    height: 500px;

    h2 {
        color: #ffff;
        font-family: $principal;
        font-size: 33px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 25px;
    }

    .acordeon {
        width: 300px;
        background-color: $elementos;
        border-radius: 15px;

        label {
            display: block;
            padding: 10px;
            font-size: 17px;
            font-family: $principal;
            font-weight: 400;
            color: #ffff;
            transition: 0.5s;
        }

        label:hover {
            background-color: #b40450;
            cursor: pointer;
        }

        .contenido-acordeon {
            color: #ffff;
            background-color: #2b1c41;
            font-family: $principal;
            font-size: 12px;
            overflow: hidden;
            max-height: 0px;
            margin: 0px;
            transition: all 300ms ease;

            p {
                padding: 10px;
            }
        }

        .btn-acordeon:checked ~ .contenido-acordeon {
            max-height: 600px;
            padding: 15px 0px;
        }

        .btn-acordeon {
            display: none;
        }
    }
}

@media (min-width: 700px){
     #preguntas {
        height: 400px;
        margin-bottom: 20px;

        .acordeon {
            width: 500px;
        }

        h2 {
            margin-bottom: 30px;
            margin-top: 0px;
        }
     }   
}

@media (min-width: 800px){
         #preguntas {
            
            h2 {
                margin-top: 0px;
            }
            
         }
} 

@media (min-width: 1400px){
    #preguntas {
        margin-bottom: 50px;
        margin-top: 50px;

        .acordeon {
            width: 800px;

            label {
                font-size: 27px;
                padding: 20px;
            }

            .contenido-acordeon {
                font-size: 17px;
            }
        }
    }
}

.flecha {
    width: 50px;
    height: 50px;
    text-align: center;

    img {
        width: 100%;
        height: 100%;
    }
}



footer {
    width: 375px;
    height: 50px;
    background-color: $elementos;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
        color: #ffff;
        font-family: $principal;
        font-size: 12px;
    }
}

@media (min-width: 425px){
    footer {
        width: 100%;
    }
}

@media (min-width: 700px){
    footer {
        p {
            font-size: 20px;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 200;
        }
    }
}






