* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

body {
    background-image: linear-gradient(to right, #2b1c41, #211934, #191526, #120f19, #070707);
}



header {
    width: 375px;
    height: 330px;
    display: flex;

    .container {
        display: flex;
        flex-direction: column;
        gap: 45px;
        justify-content: center;
        padding-left: 50px;
    }

    .texto-header {
        color: #ffff;
        font-size: 23px;
        font-family: $principal;
        font-weight: 700;
    }

    a {
        background-color: $elementos;
        color: #ffff;
        font-size: 19px;
        font-family: $principal;
        font-weight: 400;
        padding: 23px;
        border-radius: 0px 20px 20px 20px;
    }
}

@media (min-width: 425px){
    header {
        width: 100%;
    }
}

main {
    height: 438px;
    overflow-x: scroll;
    width: 375px;
    display: flex;
    align-items: center;

    .container-fotos {
        display: flex;
        flex-direction: column;
        width: 375px;

        ul {
            animation: cambio 20s infinite
            alternate linear;
        }
        

        li {
            height: 300px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

  

}

@media (min-width: 425px){
    main {
        width: 100%;

        .container-fotos {
            width: 100%;
        }
    }
}


section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 375px;
    padding-top: 25px;
    padding-bottom: 10px;
    height: 768px;

    h2 {
        font-family: $principal;
        color: #ffff;
        font-size: 33px;
        margin-bottom: 15px;
        margin-top: 45px;
    }

    .img-info {
        width: 300px;
        height: 235px;
        margin-bottom: 15px;
        

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 20px;
        }
    }

    .texto-info {
        background-color: $elementos;
        padding: 15px;
        border-radius: 25px 25px 25px 25px;
        width: 300px;

        p {
            color: #ffff;
            font-family: $principal;
            font-weight: 300;
            font-size: 14px;
        }
    }

    .contacto {
        display: flex;
        flex-direction: column;
        width: 300px;
        align-items: center;
        h2 {
            color: #ffff;
            font-size: 27px;
            font-family: $principal;
            margin-top: 20px;
        }
    }
    .enlace1 {
        
        margin-top: 25px; 

        a {
            color: #ffff;
            font-size: 25px;
            font-weight: 400;
            font-family: $principal;
            font-weight: 300;
            background-color: $elementos;
            padding: 15px 25px 15px 25px;
            border-radius: 15px 0px 15px 15px;
        }
    }

    .enlace2 {
        margin-top: 45px; 

        a {
            color: #ffff;
            font-size: 25px;
            font-weight: 400;
            font-family: $principal;
            font-weight: 300;
            background-color: $elementos;
            padding: 15px 25px 15px 25px;
            border-radius: 15px 0px 15px 15px;
        }
    }
}

@media (min-width: 425px){
    section {
        width: 100%;
    }
}

#preguntas {
    display: flex;
    flex-direction: column;
    height: 500px;

    h2 {
        color: #ffff;
        font-family: $principal;
        font-size: 33px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 25px;
    }

    .acordeon {
        width: 300px;
        background-color: $elementos;

        label {
            display: block;
            padding: 10px;
            font-size: 15px;
            font-family: $principal;
            font-weight: 400;
            color: #ffff;
            transition: 0.5s;
        }

        label:hover {
            background-color: #b40450;
        }

        .contenido-acordeon {
            color: #ffff;
            background-color: #2b1c41;
            font-family: $principal;
            font-size: 12px;
            overflow: hidden;
            max-height: 0px;
            margin: 0px;
            transition: all 300ms ease;
        }

        .btn-acordeon:checked ~ .contenido-acordeon {
            max-height: 600px;
            padding: 15px 0px;
        }

        .btn-acordeon {
            display: none;
        }
    }
}

.flecha {
    width: 50px;
    height: 50px;
    text-align: center;

    img {
        width: 100%;
        height: 100%;
    }
}

footer {
    width: 375px;
    height: 50px;
    background-color: $elementos;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
        color: #ffff;
        font-family: $principal;
        font-size: 12px;
    }
}

@media (min-width: 425px){
    footer {
        width: 100%;
    }
}






