.king-control {
    width: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-pro {
    height: 240px;
    
    .texto-container {
        display: flex;
        flex-direction: column;
        padding-left: 50px;
        justify-content: center;
        gap: 15px;

        h1 {
            font-size: 43px;
            font-family: $principal;
            font-weight: 700;
            color: #fff;
        }

        h2 {
            font-size: 23px;
            font-weight: 300;
            font-family: $principal;
            color: #fff;
        }
    }
}

.video {
    display: flex;
    justify-content: center;

    iframe {
        padding: 50px;
    }
}

.flecha-atras {
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 50px;
    margin-top: 120px;
    transition: 0.5s;
    margin-left: 50px;

    a {
        transition: 0.5s;
        width: 50px;
        border-radius: 10px;

        img {
            width: 70%;
            height: 70%;
            position: relative;
            left: 7px;
            top: 1px;
        }
    }
}

.flecha-atras:hover {
    background-color: #b40450;
} 